<footer class="container-fluid">
    <div class="row  text-center align-items-center">
        <div class="col ">
            <p style="margin-bottom: 10px;">FOLLOW US</p>
            <div class="icons">
            <a href="https://twitter.com/streamlivrapp" target="_blank"><i class="bi bi-twitter"></i></a>
            <a href="http://t.me/streamlivr" target="_blank"><i class="bi bi-telegram"></i></a>
            <a href="https://discord.gg/gRburjY8n5"><i class="bi bi-discord"></i></a> 
            <a href="https://github.com/streamlivr" target="_blank"><i class="bi bi-github"></i></a>
            </div>
        </div>
        <!-- <div class="col">
            <a href=""><img src="./pics/both.png" alt=""class="footer_img"></a>
        </div> -->
        <div class="col">
            <p style="margin-bottom: 0px;" class="copyright">&copy; 2022 Streamlivr Corp, <br> a subsidiary of Urban Boulevard Records Ventures.</p>
        </div>
    </div>
</footer>