<nav class="navbar navbar-expand-lg sticky-top navbar-custom align-middle" >
    <div class="container-fluid  px-md-5 px-md-3 ms-md-3 me-md-auto me-0 w-100 m-0 p-0">
        <button class="navbar-toggler custom-toggler me-2 ms-2 mb-1 p-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      <div class="ms-auto">
        <a class="navbar-brand p-2 py-0" href="/">
          <img src="../assets/pics/streamliver-crop.png" alt="logo" class="nav_logo">
        </a>
      </div>
      <div class="collapse navbar-collapse navbar-collapse-custom m-0 p-0" id="navbarSupportedContent">
        <ul class="navbar-nav text-light mb-3 mb-xl-0 mt-3 mt-xl-0 mx-auto text-center">
          <li class="nav-item px-3 ms-xl-5 mx-sm-0">
            <a class="nav-link text-light" href="http://docs.streamlivr.com/" target="_blank">Lite Doc</a>
          </li>
          <li class="nav-item px-3 ">
            <a class="nav-link text-light " href="https://medium.com/@streamlivrapp" target="_blank">Blog</a>
          </li>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link text-light " href="http://t.me/streamlivr">Join Community</a>
          </li>
          <li class="nav-item px-3 me-xl-4  mx-0">
            <a class="nav-link text-light" href="https://drive.google.com/drive/folders/1ssWPX2eAsNqOUX-9OpaURdeji5NXf-h6" target="_blank">Launch App</a>
          </li>
        </ul>
      </div>
    </div>
</nav>