<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <%- include('partials/head-links') %>
</head>
<body>
    <div class="d-flex align-items-center">
        <h1 class="text-center mt-3 mx-auto">WAITLISTED USERS</h1>
        <!-- <a href="/admin/blog" class="btn btn-primary me-4">Blogs</a> -->
    </div>
    <div class="row container-fluid text-center mt-3 px-3">
        <div class="col-3">
            <p >NAME</p>
        </div>
        <div class="col-6 ">
            <p>EMAIL</p>
        </div>
        <div class="col-3">
            <p>CATEGORY</p>
        </div>
    </div>
   <div class="px-2">
    <ol >
        <% users.forEach(user =>{ %>
            <li class="mt-1">
                <div class="row container-fluid text-center">
                    <div class="col-3 overflow-scroll"><%= user.name %> </div>
                    <div class="col-6 overflow-x-scroll"><%= user.email %></div>
                    <div class="col-3 overflow-x-scroll" ><%= user.category %></div>
                </div>
            </li>
        <% }) %>
    </ol>
   </div>
    
</body>
</html>