<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QKQ47J5BPB"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-QKQ47J5BPB');
    </script>
</head>
<body>
    <h1>This is the blog page</h1>
</body>
</html>