<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MH4DRMQ');</script>
    <!-- End Google Tag Manager -->

    <!-- Google tag (gtag.js) -->
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StreamLivr</title>
    <%- include('partials/head-links') %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QKQ47J5BPB"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-QKQ47J5BPB');
    </script>
</head>
<body class="position-relative">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MH4DRMQ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- <div class="text-center bg-primary text-dark">
        <p class="mb-0 fs-6">LAUNCH DATE- NO DATE AVAILABLE YET - GET EARLY ACCESS </p>
    </div> -->
    <%- include('partials/navbar') %>
    <div class="position-absolute top-0 start-0 img-bg pt-4 pt-sm-0 ">
        <div class="img-gradient">
            <img src="/assets/pics/IMAGE (1).png" alt="" class="img-fluid">
        </div>
    </div>
    <div class="position-absolute top-0 end-0 img-bg1 d-none d-xl-block ">
        <div class="img-gradient2">
            <img src="/assets/pics/IMAGE.png" alt="" class="img-fluid">
        </div>
    </div>


    <div class="modal fade" id="staticBackdrop"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
                <form id="form" >
                    <div class="mb-3" id="name">
                        <label for="name" class="form-label">Name </label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Creator Name" name="name" required>
                    </div>
                    <div class="mb-3" id="email">
                        <label for="exampleFormControlInput2" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="name@example.com"  name="email" required>
                    </div>
                    
                    <p style="display: none;" class="fs-2  display fw-bold text-success">You have Successfully registered!</p>

                    <div class="mb-3" id="select">
                        <label for="select" class="form-label">Please choose a Category</label>
                       
                        <select name="category" id="select" class="form-select">
                            <option selected>Category</option>
                            <option value="Gamer">Gamer</option>
                            <option value="Investor">Investor</option>
                            <option value="Creator">Content Creator</option>
                            <option value="Artiste">Artiste</option>
                        </select>
                    </div>

                    <p class="sel_Error text-danger fw-bold">Please select a valid Catergory</p>

                    <button type="submit" id="join" class="btn btn1 px-3 py-2 text-light">Join waitlist</button>
                    
                </form>
            </div>
          </div>
        </div>
    </div>
   

     <main class="main pt-sm-3" >
        
        <header class="container-fluid py-5 pb-sm-3 position-relative px-0">
            <div class="position-absolute bottom-0 start-0 img-bg img-mobile">
                <div class="img-gradient2">
                    <img src="/assets/pics/IMAGE (1)b.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="pt-5 py-sm-0">
                <div class="pt-5 pt-sm-0 pb-0">
                    <div class="row container-fluid mx-0 pe-0">
                        <div class="col-1 align-self-end myicons d-block d-sm-none">
                            <p><a href="https://t.me/streamlivr" target="_blank" class="icons"><i class="bi bi-telegram"></i></a></p>
                            <p><a href="https://discord.gg/NrWhKnVt" target="_blank" class="icons"><i class="bi bi-discord"></i></a></p>
                            <p><a href="https://x.com/streamlivr_app" target="_blank" class="icons"><i class="bi bi-twitter-x"></i></a></p>
                            <p><a href="https://www.linkedin.com/company/streamlivr" target="_blank" class="icons"><i class="bi bi-linkedin"></i></a></p>
                            <p><a href="https://medium.com/@streamlivrapp" target="_blank" class="icons"><i class="bi bi-medium"></i></a></p>
                        </div>
                        <div class="col-11 col-sm-12 ps-2 pe-0">
                            <div class="d-flex justify-content-center pt-5 pt-sm-3">
                                <div class="py-5 pb-sm-0 pt-sm-0">
                                    <div class="py-sm-5">
                                        <p class="display-4 fw-bold ps-sm-5 ps-sm-4 mb-5 lh-sm">Earn from <br> <span class="display-6 ">Live</span> Streaming <br> your 
                                            <span id="change"></span>
                                            
                                        </p>
                                        <p class="text-center fs-6 mb-5 pe-3">Convert your livestream to NFTs and earn $STVR on the go  as you stream <br class="d-none d-sm-block"> and your content is streamed. Swap your $STVR for fiat.</p>
                                        <div class="text-center">
                                            <a href="https://play.google.com/store/apps/details?id=kn.streamlivr.app" class=" text-decoration-none">
                                                <img src="/assets/pics/google play.png" alt="download app" class="img-fluid" width="180px">
                                            </a>
                                            <!-- <button type="button" class="btn btn1 text-light p-3 me-2 my-0" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                Join waitlist
                                              </button> -->
                                            <a href="https://www.docs.streamlivr.com" class="btn2 mt-4 text-light p-3">Learn More</a>
                                        </div>
                                        <div class="myicons d-none d-sm-block pt-4 text-center" >
                                            <a href="https://t.me/streamlivr" target="_blank" class="icons p-2"><i class="bi bi-telegram"></i></a>
                                            <a href=" https://discord.gg/NrWhKnVt" target="_blank" class="icons p-2"><i class="bi bi-discord"></i></a>
                                            <a href="https://x.com/streamlivr_app" target="_blank" class="icons p-2"><i class="bi bi-twitter-x"></i></a>
                                            <a href="https://www.linkedin.com/company/streamlivr/" target="_blank" class="icons p-2"><i class="bi bi-linkedin"></i></a>
                                            <a href="https://medium.com/@streamlivrapp" target="_blank" class="icons p-2"><i class="bi bi-medium"></i></a>
                                        </div>
                                    </div>
                                </div>                
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </header>
        <div class="text-center py-5">
            <p style="color: #618ADC;" class="fs-6">Powering tools and integrations in partnership with companies all around the world</p>
            <div >
                <img src="/assets/pics/toronet-removebg-preview.png" alt="" class="img-fluid align-bottom me-5" style="width: 117px; height: 33px;">
                <img src="/assets/pics/1280px-Lisk_logo_201802.svg.png" alt="" class="img-fluid align-top" style="width: 68px; height: 28px">
            </div>
            
        </div>

        <section class="bg1 py-5 ">
            <div class="container-fluid px-md-5 py-5">
                <div class="row px-md-5 gx-md-5 text-center text-md-start pb-5" >
                    <div class="col-12 col-md-6 px-md-5 align-self-center pb-5">
                        <p class="fs-3 px-md-5">Join our community of <br class="d-none d-md-block"> millions.</p>
                    </div>
                    <div class="col-12 col-md-6">
                        <p class="display-3 mb-0 text-gradient1">100+</p>
                        <p >Active accounts</p>
                        <p class="display-3 mb-0 mt-5 text-gradient2">25</p>
                        <p>NFTs minted</p>
                        <p class="display-3 mb-0 mt-5 text-gradient3">$0.000025</p>
                        <p>Average cost per transaction</p>
                    </div>
                </div>
            </div>
            <div class="container-fluid pt-5 px-3 px-sm-5">
                <div class="row">
                    <div class="col-12 col-md-5 col-xl-3 align-self-center pb-5 px-5 px-sm-0">
                        <p class="display-6 fw-bold">What is StreamLivr?</p>
                        <p class="fs-6">
                            <img src="/assets/pics/svg.svg" alt="">
                            Livestream Meets Blockchain
                        </p>
                    </div>
                    <div class="col-12 col-md-7 col-xl-5">
                        <div class="about1 mb-5 p-4">
                            <p class="fs-4">
                                <img src="/assets/pics/Rectangle.png" alt="">
                                Mobile App
                            </p>
                            <p class="lh-sm fs-6">
                                Streamlivr is a video livestream app for content creators and everyone that loves to stream and create content of any kind, perform for their fans and earn crypto rewards.
                            </p>
                        </div>
                        <div class="about1 mb-5 p-4">
                            <p class="fs-4">
                                <img src="/assets/pics/Rectangle (1).png" alt="">
                                What is StreamLivr Token?
                            </p>
                            <p class="lh-sm mb-2 fs-6">
                                Streamlivr coin is the native cryptocurrency of the Streamlivr platform and ecosystem. Used to incentivize content on the platform as NFTs. It's also used to reward creators and fans
                            </p>
                            <p class="fs-6">
                                Read our Lite Doc to know more <a href="https://www.docs.streamlivr.com" style="color: #00A3DD;">docs.streamlivr.com</a>.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-xl-4 text-center">
                        <div class="swiper swiper2">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                              <!-- Slides -->
                              <div class="swiper-slide">
                                <img src="/assets/pics/wallet screen iPhone 14 Pro 1.png" alt="" class="img-fluid">
                              </div>
                              <div class="swiper-slide">
                                <img src="/assets/pics/iPhone 14 Pro Max 1.png" alt="" class="img-fluid">
                              </div>
                            </div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination swiper-pagination2"></div>
                          
                          </div>
                        
                    </div>
                </div>
            </div>
        </section>
        <section style="background-color: #00030D;" class="py-5">
            <div class="container-fluid py-5 px-sm-5">
                <div class="d-flex justify-content-center px-sm-5">
                    <div class="container-fluid px-sm-5">
                        <h1 class="fw-bold mb-5">Who are our users?</h1>
                        <div class="swiper swiper1">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <div class="card mb-3">
                                        <div class="row g-0">
                                          <div class="col-md-6 align-self-center">
                                            <img src="/assets/pics/gamers.png" class="img-fluid rounded-start" alt="...">
                                          </div>
                                          <div class="col-md-6 align-self-center">
                                            <div class="card-body">
                                              <h3 class="card-title mb-4 fw-bold">Gamers</h3>
                                              <p class="card-text mb-0 ">There are 3 Billion gamers on earth but you play different. Earn in crypto from livestreaming your gameplay on streamlivr.</p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card mb-3">
                                        <div class="row g-0">
                                          <div class="col-md-6 align-self-center">
                                            <img src="/assets/pics/artists.png" class="img-fluid rounded-start" alt="...">
                                          </div>
                                          <div class="col-md-6 align-self-center">
                                            <div class="card-body">
                                              <h3 class="card-title mb-4 fw-bold">Artists</h3>
                                              <p class="card-text mb-0 ">You can go mainstream by performing live and earning in crpto on streamlivr.</p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card mb-3">
                                        <div class="row g-0">
                                          <div class="col-md-6 align-self-center">
                                            <img src="/assets/pics/content creators.png" class="img-fluid rounded-start" alt="...">
                                          </div>
                                          <div class="col-md-6 align-self-center">
                                            <div class="card-body">
                                              <h3 class="card-title mb-4 fw-bold">Content creators</h3>
                                              <p class="card-text mb-0 ">The world wants to pay you in crypto for your creativity & contents on streamlivr, don't be left out.
                                            </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-5 mt-sm-5">
                <div class="text-center py-5 mt-sm-5">
                    <iframe class="youtube" src="https://www.youtube.com/embed/mujGBcYn3lU?si=rbjkge8_dB7-8OxB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </section>

        
        
        <section class="py-5 px-xl-5 roadmap">
            <div class="container-fluid" >
                <div class="px-xl-5 px-3">
                    <h1 class="fw-bold">Road Map</h1>
                    <p class="fs-4">Goals and Plans</p>
                    <div class="py-3 px-3">
                        <div class="swiper swiper3">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper pb-sm-5 pb-3">
                              <!-- Slides -->
                              <div class="swiper-slide">
                                <div class="card mb-3 roadmap-card pt-4 pb-5 position-relative h-100">
                                    <div class="card-body">
                                        <h3 class="card-title mb-4 fw-bold color1 ps-2">Q1 2022</h3>
                                        <div class="card-text mb-4">
                                            <ul>
                                                <li>
                                                    Project idealization Core team development
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="position-absolute bottom-0 start-0">
                                        <img src="/assets/pics/Ellipse 1.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="card mb-3 roadmap-card pt-4 pb-5 position-relative h-100">
                                    <div class="card-body">
                                        <h3 class="card-title mb-4 fw-bold color1 ps-2">Q2 2022</h3>
                                        <div class="card-text mb-4">
                                            <ul>
                                                <li>
                                                    Market/Product research Branding
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="position-absolute bottom-0 start-0">
                                        <img src="/assets/pics/Ellipse 1.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="card mb-3 roadmap-card pt-4 pb-5 position-relative h-100">
                                    <div class="card-body">
                                        <h3 class="card-title mb-4 fw-bold color1 ps-2">Q3 2022</h3>
                                        <div class="card-text mb-4">
                                            <ul>
                                                <li>
                                                    Community development
                                                </li>
                                                <li>
                                                    Website launch
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="position-absolute bottom-0 start-0">
                                        <img src="/assets/pics/Ellipse 1.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="card mb-3 roadmap-card pt-4 pb-5 position-relative h-100">
                                    <div class="card-body">
                                        <h3 class="card-title mb-4 fw-bold color1 ps-2">Q4 2022</h3>
                                        <div class="card-text mb-4">
                                            <ul>
                                                <li>
                                                    Community/Marketing campaigns
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="position-absolute bottom-0 start-0">
                                        <img src="/assets/pics/Ellipse 1.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="card mb-3 roadmap-card pt-4 pb-5 position-relative h-100">
                                    <div class="card-body">
                                        <h3 class="card-title mb-4 fw-bold color1 ps-2">Q1 2023</h3>
                                        <div class="card-text mb-4">
                                            <ul>
                                                <li>
                                                    App Development
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="position-absolute bottom-0 start-0">
                                        <img src="/assets/pics/Ellipse 1.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="card mb-3 roadmap-card pt-4 pb-5 position-relative h-100">
                                    <div class="card-body">
                                        <h3 class="card-title mb-4 fw-bold color1 ps-2">Q2 2023</h3>
                                        <div class="card-text mb-4">
                                            <ul>
                                                <li>
                                                    POC launch
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="position-absolute bottom-0 start-0">
                                        <img src="/assets/pics/Ellipse 1.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="card mb-3 roadmap-card pt-4 pb-5 position-relative h-100">
                                    <div class="card-body">
                                        <h3 class="card-title mb-4 fw-bold color1 ps-2">Q3 2023</h3>
                                        <div class="card-text mb-4">
                                            <ul>
                                                <li>
                                                    Strategic Partnerships
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="position-absolute bottom-0 start-0">
                                        <img src="/assets/pics/Ellipse 1.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="card mb-3 roadmap-card pt-4 pb-5 position-relative h-100">
                                    <div class="card-body">
                                        <h3 class="card-title mb-4 fw-bold color1 ps-2">Q4 2023</h3>
                                        <div class="card-text mb-4">
                                            <ul>
                                                <li>
                                                    Streamlivr App V1.0 (MVP Launch)
                                                </li>
                                                <li>
                                                    User Growth
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="position-absolute bottom-0 start-0">
                                        <img src="/assets/pics/Ellipse 1.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="card mb-3 roadmap-card pt-4 pb-5 position-relative h-100">
                                    <div class="card-body">
                                        <h3 class="card-title mb-4 fw-bold color1 ps-2">Q1 2024</h3>
                                        <div class="card-text mb-4">
                                            <ul>
                                                <li>
                                                    User growth 
                                                </li>
                                                <li>
                                                    Token Testnet Launch
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="position-absolute bottom-0 start-0">
                                        <img src="/assets/pics/Ellipse 1.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="card mb-3 roadmap-card pt-4 pb-5 position-relative h-100">
                                    <div class="card-body">
                                        <h3 class="card-title mb-4 fw-bold color1 ps-2">Q2 2024</h3>
                                        <div class="card-text mb-4">
                                            <ul>
                                                <li>
                                                    Seed Round 
                                                </li>
                                                <li>
                                                    Mainnet Launch
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="position-absolute bottom-0 start-0">
                                        <img src="/assets/pics/Ellipse 1.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="card mb-3 roadmap-card pt-4 pb-5 position-relative h-100">
                                    <div class="card-body">
                                        <h3 class="card-title mb-4 fw-bold color1 ps-2">Q3 2024</h3>
                                        <div class="card-text mb-4">
                                            <ul>
                                                <li>
                                                    Streamlivr App (V.2.5)
                                                </li>
                                                <li>
                                                    User Growth 
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="position-absolute bottom-0 start-0">
                                        <img src="/assets/pics/Ellipse 1.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                              </div>
                            <div class="swiper-slide">
                                <div class="card mb-3 roadmap-card pt-4 pb-5 position-relative h-100">
                                    <div class="card-body">
                                        <h3 class="card-title mb-4 fw-bold color1 ps-2">Q4 2024</h3>
                                        <div class="card-text mb-4">
                                            <ul>
                                                <li>
                                                    Streamlivr App (V3.0)
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="position-absolute bottom-0 start-0">
                                        <img src="/assets/pics/Ellipse 1.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            </div>
                          
                            <!-- If we need scrollbar -->
                            <div class="swiper-scrollbar swiper-scrollbar3"></div>
                        </div>
                    </div>

                    
                </div>
            </div>

            <section class="py-5 px-md-5 mt-5 d-none">
                <!-- <div class="container-fluid px-lg-5 py-5">
                    <h1 class="fw-bold">The Team</h1>
                    <p class="fw-lighter">Driven by the vision of creating a new future that puts creators first and employs DeFi to enable everyone profit and make a living from their potential.</p>
    
                    <div class="container-fluid py-5">
                        <div class="row g-5">
                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="card h-100 team">
                                    <img src="/assets/pics/Joshua.jpeg" class="card-img-top img-fluid" alt="...">
                                    <div class="card-body pb-0">
                                      <h4 class="card-title color1 fw-bold">Joshua Ehizibue</h4>
                                      <p class="card-text">CEO/Product Manager</p>
                                      <p class="fs-5">
                                        <a href="https://www.linkedin.com/in/joshua-ehizibue-4b604a150" target="_blank" class="p-2"><i class="bi bi-linkedin"></i></a>
                                        <a href="" class="p-2"><i class="bi bi-instagram"></i></a>
                                        <a href="" class="p-2"><i class="bi bi-twitter"></i></a>
                                      </p>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="card h-100 team">
                                    <img src="/assets/pics/mahmud.jpg" class="card-img-top img-fluid" alt="...">
                                    <div class="card-body pb-0">
                                      <h4 class="card-title color1 fw-bold">Mahmud Bello</h4>
                                      <p class="card-text">CTO & Blockchain Developer</p>
                                      <p class="fs-5">
                                        <a href="" class="p-2"><i class="bi bi-linkedin"></i></a>
                                        <a href="" class="p-2"><i class="bi bi-instagram"></i></a>
                                        <a href="" class="p-2"><i class="bi bi-twitter"></i></a>
                                      </p>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="card h-100 team">
                                    <img src="/assets/pics/brand-circle.png" class="card-img-top img-fluid" alt="...">
                                    <div class="card-body pb-0">
                                      <h4 class="card-title color1 fw-bold">Dike Darion</h4>
                                      <p class="card-text">Brand Designer</p>
                                      <p class="fs-5">
                                        <a href="https://www.linkedin.com/in/dikedarion" target="_blank" class="p-2"><i class="bi bi-linkedin"></i></a>
                                        <a href="" class="p-2"><i class="bi bi-instagram"></i></a>
                                        <a href="" class="p-2"><i class="bi bi-twitter"></i></a>
                                      </p>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-12 col-sm-6 col-xl-4">
                                <div class="card h-100 team">
                                    <img src="/assets/pics/grant.jpg" class="card-img-top img-fluid" alt="...">
                                    <div class="card-body pb-0">
                                      <h4 class="card-title color1 fw-bold">Eke Grant</h4>
                                      <p class="card-text">Full Stack Developer</p>
                                      <p class="fs-5">
                                        <a href="https://www.linkedin.com/in/grant-eke-215103244" target="_blank" class="p-2"><i class="bi bi-linkedin"></i></a>
                                        <a href="" class="p-2"><i class="bi bi-instagram"></i></a>
                                        <a href="" class="p-2"><i class="bi bi-twitter"></i></a>
                                      </p>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </section>
        </section>
        <section class="py-5 px-sm-5 px-3 mt-5 mb-5">
            <div class="px-sm-5">
                <h1 class="px-sm-5 px-3">TOKENOMICS</h1>
                <p class="px-sm-5 px-3">TOKEN DISTRIBUTION</p>
                <div class="text-center pt-5">
                    <img src="/assets/pics/TOKENOMICS 1.png" alt="" class="img-fluid ">
                </div>
                <p class="fs-3 pt-5 text-center mb-4">
                    It's time to join the millions of creators, <br class="d-none d-md-block"> artists, and gamers using StreamLivr.
                </p>
                <p class="text-center">
                    <a href="https://play.google.com/store/apps/details?id=kn.streamlivr.app" class=" text-decoration-none">
                        <img src="/assets/pics/google play.png" alt="download app" class="img-fluid" width="250px">
                    </a>
                </p>
            </div>
            
        </section>

        
        
        <%- include('partials/footer') %>
    
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<script>
    // const change = document.querySelector('#change')

    var options = {
    strings: ['Performance', 'Content', 'Gameplay'],
    typeSpeed: 150,
    backSpeed: 100,
    backDelay: 800,
    loop: true,
    loopCount: Infinity
    };

    var typed = new Typed('#change', options);

    const swiper1 = new Swiper('.swiper1',{
        direction: 'horizontal',
        loop: true,
        autoplay: {
            delay: 5000,
        },
        slidesPerView: 1
    })

    const swiper2 = new Swiper(".swiper2", {
      pagination: {
        el: ".swiper-pagination2",
        type: 'bullets',
        dynamicBullets: true,
      },
      loop: true,
        autoplay: {
            delay: 3000,
        },
    });

    const swiper3 = new Swiper(".swiper3", {
        scrollbar: {
            el: '.swiper-scrollbar3',
            draggable: true,
        },
        autoplay: {
            delay: 5000,
        },
        // Default parameters
        slidesPerView: 1,
        spaceBetween: 10,
        // Responsive breakpoints
        breakpoints: {
            // when window width is >= 480px
            480: {
            slidesPerView: 1,
            spaceBetween: 30
            },
            // when window width is >= 640px
            576: {
            slidesPerView: 2,
            spaceBetween: 20
            },
            768: {
            slidesPerView: 3,
            spaceBetween: 20
            },
            992: {
            slidesPerView: 4,
            spaceBetween: 20
            },
            1200: {
            slidesPerView: 4,
            spaceBetween: 40
            }
        }
    });

    const form = document.getElementById('form');
    const disp = document.querySelector('.display')
    const selError = document.querySelector('.sel_Error')
    selError.style.display = 'none'
 
    form.addEventListener('submit', function(e) {
        e.preventDefault()
        let selval = document.querySelector('#select').value
        if(selval == 'Category'){
            selError.style.display = 'block'
        } else{
            selError.style.display = 'none'
            //Create new FormData object:
            const formData = new FormData(form);
            // Convert formData object to URL-encoded string:
            const payload = new URLSearchParams(formData);
            // Post the payload using Fetch:
            fetch('/waitlist', {
            method: 'POST',
            body: payload,
            })
            .then(res => res.json())
            // .then(data => console.log(data))
            disp.style.display = 'block'
            document.querySelector('#name').style.display = 'none'
            document.querySelector('#email').style.display = 'none'
            document.querySelector('#select').style.display = 'none'
            document.querySelector('#join').style.display = 'none'
        }
    }
    )
  </script>
 <script>
    AOS.init();
  </script>

</html>