<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MH4DRMQ');</script>
    <!-- End Google Tag Manager -->

    <!-- Google tag (gtag.js) -->
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StreamLivr</title>
    <%- include('partials/head-links') %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QKQ47J5BPB"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-QKQ47J5BPB');
    </script>
</head>
<body >
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MH4DRMQ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('partials/navbar') %>

      <div class="modal fade" id="staticBackdrop"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <!-- <div class="modal-header"> -->
             <!--  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            <!-- </div> -->
            <div class="modal-body">
                <form id="form" >
                    
                    <input type="text" id="name" placeholder="Creator Name" name="name" required> <br>
                    <input type="email" id="email" placeholder="Email" name="email" required> <br>
                    <p style="display: none;" class="display">You have Successfully registered!</p>
                    <select name="category" id="select">
                        <option selected>Category</option>
                        <option value="Gamer">Gamer</option>
                        <option value="Investor">Investor</option>
                        <option value="Creator">Content Creator</option>
                        <option value="Artiste">Artiste</option>
                    </select> <br>
                    <p class="sel_Error">Please select a valid Catergory</p>

                    
                    <button type="submit" id="join">Join</button>
                </form>
            </div>
          </div>
        </div>
    </div>
   

     <main class="main">

        <div class="first_main">
            <div class="d-flex">
                <div class="icons_div">
                    <p><a href="https://twitter.com/streamlivrapp" target="_blank"><i class="bi bi-twitter"></i></a></p> 
                    <p><a href="http://t.me/streamlivr" target="_blank"><i class="bi bi-telegram"></i></a> </p>
                    <p><a href="https://discord.gg/gRburjY8n5"><i class="bi bi-discord"></i></a> </p>
                    <p><a href="https://github.com/streamlivr" target="_blank"><i class="bi bi-github"></i></a></p>
                </div>
                <div>
                    <div class="first_main_div">
                        <p>Earn from</p>
                        <p><span>Live</span> Streaming</p>
                        <p >your <span id="change"></span></p>
                    </div>
        
                    <div class="first_main_buttons" >
                        <button class="join_waitlist" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Join waitlist</button> <br>
                        <span class="learn_more" ><a href="http://docs.streamlivr.com/" target="_blank">Learn more</a></span> <br>
                        <button class="join_waitlist"><a href="/assets/streamlivr.apk" download="StreamLivr">Launch App</a></button>
                    </div>
                </div>
            </div>
            <p class="small_text pb-5 mt-md-5" >Convert your livestream to NFTs and earn $STVR on the go as you stream and your content is streamed. Swap your $STVR for fiat.</p>
        </div>

        <div class="second_main container-fluid" id="discover">
            <div class="second_main_title col" data-aos="fade-right" data-aos-duration="1200">         
                <p>What is Streamlivr?</p>
            </div>
            <div class="myvideo col">
                <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                    Streamlivr is a video livestream app for content creators and everyone that loves to stream and create content of any kind, perform for their fans and earn crypto rewards. 
                </p>
                <!-- <img src="./pics/MAIN CONTENT 2.jpg" alt=""> -->
                <p class="streamlivrcoin" data-aos="fade-up" data-aos-duration="1200">What is Streamlivr Coin ($STVR) <img src="../assets/pics/coin.png" alt="StreamLivr Coin " class='coin-coin' ></p>
                <p data-aos="fade-right" data-aos-duration="1200">
                    Streamlivr coin is the native cryptocurrency of the Streamlivr platform and ecosystem. Used to incentivize content on the platform as NFTs. It's also used to reward creators and fans.
                </p>
                <p style="margin-top: 20px;" data-aos="zoom-in" data-aos-duration="1500">Read our Lite Doc to know more <a href="http://docs.streamlivr.com/">docs.streamlivr.com</a></p>
            </div>
        </div>

        <div class="third_main">
            <div class="third_main_title" id="explore">
                <p class="creators" data-aos="fade-down-right" data-aos-duration="1300">Creators Eco system</p>
                <p class="top" data-aos="fade-down-left" data-aos-duration="1300">Top Creators</p>
            </div>
            
            <div class="myimages " >
                <div class="swiper"  data-aos="fade-left" data-aos-duration="1800">
                    <div class=" swiper-wrapper ">
                        <div class="swiper-slide">
                            <img src="../assets/pics/mark.jpg" alt="Markiplier" >
                            <p class="name">Markiplier</p>
                            <p class="job">Gamer</p>
                            <p class="coin">1000 $STVR ~Buy NFT</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="../assets/pics/chioma.jpg" alt="Chioma">
                            <p class="name">Chioma</p>
                            <p class="job">Chef</p>
                            <p class="coin">1500 $STVR ~Buy NFT</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="../assets/pics/amarii.jpg" alt="Ab Amarii">
                            <p class="name">Ab Amarii</p>
                            <p class="job">Artiste</p>
                            <p class="coin">700 $STVR ~Buy NFT</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="../assets/pics/burna.jpg" alt="Burna Boy">
                            <p class="name">Burna Boy</p>
                            <p class="job">Artiste</p>
                            <p class="coin">2500 $STVR Buy NFT</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="../assets/pics/jeezy.jpg" alt="Mo'jeezy">
                            <p class="name">Mo'jeezy</p>
                            <p class="job">Artist</p>
                            <p class="coin">1200$STVR ~Buy NFT</p>
                        </div>
                    </div>
                </div>
                <div class="users text-center" id="users">
                    <p class="creators1" data-aos="fade-up-left" data-aos-duration="1400">Who Are Our</p>
                    <p class="top1" data-aos="fade-up-right" data-aos-duration="1400">Users?</p>
                </div>
            </div>
        </div>

        <div class="new_main ">
            <div class=" user_div row p-5 gy-4 gx-1 text-center container-fluid">
                <div class="col-lg-4 col-md-6 col" data-aos="fade-right" data-aos-duration="1500">
                    <img src="../assets/pics/new_gamers.jpg" alt="Gamers" class="user_img">
                    <p class="users_name">Gamers</p>
                    <p class="users_bio">There are 3 Billion gamers on earth but you play different. <br> Earn in crypto from livestreaming your gameplay on streamlivr</p>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-left" data-aos-duration="1500">
                    <img src="../assets/pics/new_artist.jpg" alt="Artists" class="user_img">
                    <p class="users_name">Artists</p>
                    <p class="users_bio">You can go mainstream by performing live and earning in crpto on streamlivr</p>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-right" data-aos-duration="1500">
                    <img src="../assets/pics/new_content.jpg" alt="Content Creators" class="user_img">
                    <p class="users_name">Content Creators</p>
                    <p class="users_bio">The world wants to pay you in crypto for your creativity & contents on streamlivr, don't be left out. </p>
                </div>
            </div>

            <div class="text-center mt-5" data-aos="zoom-in-up" data-aos-duration="1500">
                <img src="../assets/pics/Showcase 2.png" class="img-fluid" alt="APP UI/UX DESIGN">
            </div>

            <div class="team_div container-fluid">
                <div class="row m-5 gy-4">
                    <div class="col-lg-6 col-12 ps-md-5 ms-md-5">
                        <p class="team_intro" data-aos="zoom-out-up" data-aos-duration="1800">The Team</p>
                        <p class="team_bio" data-aos="zoom-out-down" data-aos-duration="1600">Driven by the vision of creating a new future that puts creators first and employs DeFi to enable everyone profit and make a living from their potential.</p>
                    </div>
                    <div class="col text-center me-md-2" data-aos="zoom-in-down" data-aos-duration="1600">
                        <img src="../assets/pics/Joshua.jpeg" alt="Team Member" class="team_pic edit_pic">
                        <p class="team_about "> <span ><a href="https://www.linkedin.com/in/joshua-ehizibue-4b604a150" target="_blank">Joshua Ehizibue</a></span> <br> CEO & Product Manager</p>
                    </div>
                    <div class="col text-center" data-aos="zoom-in-down" data-aos-duration="1400">
                        <img src="../assets/pics/mahmud.jpg" alt="Team Member"class="team_pic edit_pic" style="scale: 0.9;" >
                        <p class="team_about "> <span > <a href=""> Mahmud Bello </a></span> <br>  CTO & Blockchain Developer</p>
                    </div>
                    <div class="col text-center" data-aos="zoom-in-down" data-aos-duration="1600">
                        <img src="../assets/pics/Tolu.jpeg" alt="Team Member"class="team_pic edit_pic" style="scale: 0.9;">
                        <p class="team_about "> <span > <a href="https://www.linkedin.com/in/tolulopefasanmi" target="_blank">Tolu Fasanmi </a></span> <br> CMO & Community Manager</p>
                    </div>
                    <div class="col text-center" data-aos="zoom-in-down" data-aos-duration="1800">
                        <img src="../assets/pics/brand-circle.png" alt="Team Member"class="team_pic" >
                        <p class="team_about "> <span ><a href="https://www.linkedin.com/in/dikedarion" target="_blank">Dike Darion</a></span> <br>Brand Designer </p>                      
                    </div>
                    <div class="col text-center" data-aos="zoom-in-down" data-aos-duration="1800">
                        <img src="../assets/pics/grant.jpg" alt="Team Member" class="team_pic edit_pic" style="scale: 0.9;">
                        <p class="team_about "> <span ><a href="https://www.linkedin.com/in/grant-eke-215103244 " target="_blank">Eke Grant</a> </span> <br> Full Stack Developer</p>
                    </div>
                    
                </div>

            </div>
            <p class="title1 text-center" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">GOALS & PLANS</p>

            <div class="roadmap container-fluid">
                <div class="roadmap_title text-center container-fluid">
                    <p class="title2" id="roadmap" data-aos="fade-down"  data-aos-easing="linear" data-aos-duration="1500">ROADMAP</p>
                </div>
    
                <div class="roadmap_list container-fluid">
                    <div class="row px-5 g-sm-5 gy-5" >
                        <div class="col-lg-4 col-sm-6" data-aos="zoom-out-left" data-aos-duration="1600">
                            <p class="text-center ">Q3 2022.</p>
    
                            <div class=" roadmap_border mx-md-5 ">
                                <ul class="ul">
                                    <li class="list">Website Launch</li>
                                    <li class="list">Token Launch on Testent</li>
                                </ul>
                            </div>
                        </div>
    
                        <div class="col-lg-4 col-sm-6 " data-aos="zoom-out-right" data-aos-duration="1700">
                            <p class="text-center ">Q4 2022.</p>
    
                            <div class="roadmap_border mx-md-5 ">
                                <ul class="">
                                    <li class="list">Community Events</li>
                                    <li class="list"> Onboarding Marketing Campaigns</li>
                                </ul>
                            </div>
                        </div>
        
                        <div class="col-lg-4 col-sm-6 " data-aos="zoom-out-left" data-aos-duration="1600">
                            <p class="text-center ">Q1 2023.</p>
    
                            <div class="roadmap_border mx-md-5">
                                <ul class="">
                                    <li class="list">MVP App launch (Streamlivr v1.0)</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 " data-aos="zoom-out-right" data-aos-duration="1700">
                            <p class="text-center ">Q2 2023.</p>
    
                            <div class="roadmap_border mx-md-5">
                                <ul class="">
                                    <li class="list">Token Launch</li>
                                    <li class="list">Seed Round</li>
                                    <li class="list">Listing on Exchanges</li> 
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 " data-aos="zoom-out-left" data-aos-duration="1600">
                            <p class="text-center ">Q3 2023.</p>
    
                            <div class="roadmap_border mx-md-5">
                                <ul class="">
                                    <li class="list">Public Sale</li>
                                    <li class="list">Streamlivr App v2.0 Update</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="tokenomics text-center container-fluid mb-0 pb-2" id="marketplace">
                <p class="token1" data-aos="zoom-in-up" data-aos-duration="1600">TOKEN DISTRIBUTION</p>
                <p class="token2" data-aos="zoom-in-down" data-aos-duration="1600" >TOKENOMICS</p>
    
                <div class="token_img container-fluid" data-aos="zoom-out" data-aos-duration="1800">
                    <img src="../assets/pics/TOKENOMICS.png" alt="TOKENOMICS" class="img-fluid">
                </div>
                <button class="join_waitlist text-center mt-5"><a href="https://drive.google.com/drive/folders/1ssWPX2eAsNqOUX-9OpaURdeji5NXf-h6" target="_blank" style="text-decoration: none; color: white;">Launch App</a></button>
            </div>
           
        </div>

        
        <%- include('partials/footer') %>
    
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<script>
    // const change = document.querySelector('#change')

    var options = {
    strings: ['Performance', 'Content', 'Gameplay'],
    typeSpeed: 150,
    backSpeed: 100,
    backDelay: 800,
    loop: true,
    loopCount: Infinity
    };

    var typed = new Typed('#change', options);

    const swiper = new Swiper('.swiper',{
        direction: 'horizontal',
        loop: true,
        mousewheel: {
            invert: true,
        },
        autoplay: {
            delay: 3000,
        },
        slidesPerView: 3,
        spaceBetween: 80,
        // width: 400,
        breakpoints: {
            480: {
            slidesPerView: 2,
            spaceBetween: 100
            },
            768:{
                slidesPerView: 3,
                spaceBetween: 150
            },
            992:{
                slidesPerView: 4,
                spaceBetween: 120,
            },
            1200:{
                slidesPerView: 5,
                spaceBetween: 120,
            }
        }
    })

    const form = document.getElementById('form');
    const disp = document.querySelector('.display')
    const selError = document.querySelector('.sel_Error')
 
    form.addEventListener('submit', function(e) {
        e.preventDefault()
        let selval = document.querySelector('#select').value
        if(selval == 'Category'){
            selError.style.display = 'block'
        } else{
            selError.style.display = 'none'
            //Create new FormData object:
            const formData = new FormData(form);
            // Convert formData object to URL-encoded string:
            const payload = new URLSearchParams(formData);
            // Post the payload using Fetch:
            fetch('/waitlist', {
            method: 'POST',
            body: payload,
            })
            .then(res => res.json())
            // .then(data => console.log(data))
            disp.style.display = 'block'
            document.querySelector('#name').style.display = 'none'
            document.querySelector('#email').style.display = 'none'
            document.querySelector('#select').style.display = 'none'
            document.querySelector('#join').style.display = 'none'
        }

        // if(){

        // }else{
        //     // Create new FormData object:
        // const formData = new FormData(form);
        // // Convert formData object to URL-encoded string:
        // const payload = new URLSearchParams(formData);
        // // Post the payload using Fetch:
        // fetch('/waitlist', {
        // method: 'POST',
        // body: payload,
        // })
        // .then(res => res.json())
        // // .then(data => console.log(data))
        // disp.style.display = 'block'
        // document.querySelector('#name').style.display = 'none'
        // document.querySelector('#email').style.display = 'none'
        // document.querySelector('#select').style.display = 'none'
        // document.querySelector('#join').style.display = 'none'
        }
    )
  </script>
 <script>
    AOS.init();
  </script>

</html>