*{
    padding: 0px;
    margin: 0px;
    /* overflow-x: hidden; */
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Comfortaa';
    color: white;
    max-width: 100%;
    background-color: black;
}

.navbar-custom{
    background-color: black;
    height: 60px;
    box-sizing: border-box;
    max-width: 100%;
    box-sizing: border-box;
}

.navbar-custom li{
    box-sizing: border-box;
}

.navbar-collapse-custom{
    background-color: black
}

.custom-toggler .navbar-toggler-icon{
    /* background-color: #42c2ff; */
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(66, 194, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler{
    color: rgb(0, 0, 0);
}

.nav_logo{
    width: 200px;
    height: 50px;
}


.btn-custom{
    background-image: linear-gradient(#24034b,#667ef7);
    border-radius: 12px;
    /* width: 120px; */
    text-align: center;
    border: none;
    padding: 10px 10px;
    color: white;
}

.btn-custom:hover{
    transform: scale(1.05);
}

.main{
    width: 100%;
}
.icons_div{
    width: 100px;
    padding-top: 200px;
}
.icons_div a{
    text-decoration: none;
    color: white;
}
.icons_div p{
    color: white;
    font-size: 30px;
    margin: 40px 30px;
}

.first_main{
    height: auto;
    width: 100%;
    background-color:black;
    background-image: url(./pics/background.gif);
    background-size: cover;
    background-position: center;
}

.first_main_div{
    padding-top: 85px;
    font-size: 45px;
    font-weight: bold;
    visibility: visible;
    color: whitesmoke;
}

.first_main_div span{
    font-weight: 100;
    font-size: 35px;
}
#change{
    font-size: 45px;
    font-weight: bold; 
}

.first_main_buttons{
    padding-top: 30px;
}

.first_main_buttons a{
    color: white;
    text-decoration: none;
    
}
.learn_more{
    margin-top: 20px;
    padding: 12px 22px;
    border: 2px solid white;
    border-radius: 22px;
    font-size: 20px;

}


.join_waitlist{
    padding: 14px 22px;
    border-radius: 22px;
    font-size: 20px;
    background-image: linear-gradient(#24034b,#667ef7);
    color: white;
    border: none;
    margin: 20px 0;
}

.join_waitlist:hover, a:hover{ 
    transform: scale(1.05);
}
.small_text{
    margin-bottom: 0;
}

.modal-content{
    background-color: rgb(66, 194, 255);
}

input{
    width: 100%;
    border-radius: 10px;
    background-color: #42c2ff;
    margin: 10px 0 ;
    border: 2px solid black;
    padding:2px 10px;
    color: #24034b;
}

select{
    width: 100%;
    border-radius: 10px;
    background-color: #42c2ff;
    margin: 10px 0 ;
    border: 2px solid;
    padding:4px 10px;
}
.display{
    color: black;
    font-size: 30px;
}

#join{
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #667ef7;
    border: 2px solid #667ef7;
    text-align: center;
    float: right;
}

#join:hover{
    background-color: #374cb8;
}

.small_text{
    margin-left: 100px;
}

.second_main{
    height: auto;
    width: 100%;
    /* background-image: url(./pics/pexels-davis-sánchez-3916376.jpg); */
    background-size: cover;
    background-position: center;
    background-color: black;
    text-align: center;
}
.streamlivr_icon1{
    width:400px;
    height:100px
}
.second_main_title{
    padding-top: 20px;
    width: 100%;
    height: 35%;
    background-color: black;
   
}
.second_main_title p{
    margin-top: 20px;
    font-size: 55px;
    font-weight: bold;
    color: #42c2ff;
    margin-bottom: 0;
}

.myvideo{
    width: 100%;
    height: auto;
    padding: 30px;
    background-color:black;
    background-image: url(./pics/planet.gif);
    background-position: center;
    background-size: cover;
    font-size: 25px;
}

.streamlivrcoin{
    margin-top: 30px !important;
    font-size: 55px;
    font-weight: bold;
    color: #42c2ff;
    width: 100% !important;
    text-align: center;
}
.coin-coin{
    width: 100px;
    height: 100px;
}
.myvideo p{
    width: 70%;
    margin: 0 auto;
}
.myvideo a{
    text-decoration: none;
    color: #42c2ff;
}

.third_main{
    background-color: black;
    height: auto;
    overflow: hidden;
}

.third_main_title, .users{
    padding: 30px;
    height: 200px;
    text-align: center;
}
.third_main_title{
    margin-top: 150px;
}

.creators, .creators1{
    font-size: 20px;
    color: #42c2ff;
    letter-spacing: 0.5rem;
}
.top, .top1{
    font-size: 60px;
}
.myimages{
    padding-top:40px;
    padding-left:100px ;
    padding-right:20px ;
    height: auto;
    background-image: url(./pics/Decor.png);
    background-position: center;
    background-size: cover;
    width: 100%;
}

.swiper{
    width: 100%;
    height: auto
}

.myimages img{
    height: 220px;
    width: 220px;
    /* padding: 10px; */
    border-radius: 20px;
}

.name{
    padding-top: 10px;
    font-size: 25px;
    margin-bottom: 0;
}

.job{
    margin-top: 0px;
    color: #42c2ff;
    font-size: 20px;
    margin-bottom: 0;
}

.coin{
    font-size: 10px;
    color: #42c2ff;
    margin-top: 0;
}

.new_main{
    background-color: black;
    background-image: url(./pics/Decor.png);
    height: auto;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    overflow-x: hidden;
}

.users{
    margin-top: 200px;
}
.user_img{
    width: 300px;
    height: 250px;
    padding: 10px;
}

.users_name{
    font-size: 30px;
    margin-bottom: 0;
    color: #42c2ff;
}

.users_bio{
    font-size: 15px;
    width: 70%;
    margin: 10px auto;
}

.team_div{
    margin-top: 100px;
    height: auto;
}

.team_intro{
    color: #42c2ff;
    font-size: 65px;
    letter-spacing: 0.5rem;
}

.team_bio{
    font-size: 25px;
    width: 70%;
}

.team_pic{
    width: 300px;
    height: 300px;
    /* padding: 10px; */
}
.team_about{
    margin-top: 0;
}

.team_about a{
    text-decoration: none;
}
.team_about span{
    font-size: 20px;
}

.title1{
    color: #42c2ff;
    font-size: 25px;
    padding-top: 80px;
    margin-bottom: 0;
    letter-spacing: 5px;
}
/* 
.roadmap{
    background-color: black;
} */

.title2{
    font-size: 50px; 
    font-weight:700;
    letter-spacing: 6px;
    margin-bottom: 0px;
}

.roadmap_list{
    margin-top: 70px;
    font-size: 17px;
}
.roadmap_list p{
    font-size: 20px;
    font-weight: bold;
}

.roadmap_border{
    border: 4px solid #667ef7;
    border-radius: 20px;
    padding-top: 15px;
}
.list{
    padding: 5px;
}

.tokenomics{
    /* background-color: black; */
    padding-top: 100px;
    padding-bottom: 100px;
}

.token1{
    color: #42c2ff;
    font-size: 20px;
    padding-top: 80px;
    margin-bottom: 0;
    letter-spacing: 10px;
}

.token2{
    font-size: 55px; 
    font-weight:bold;
    /* letter-spacing: 1rem; */
    margin-bottom: 0px;
}

.token_img{
    margin-top: 80px;
}

@media screen and (min-width : 680px){

    .token2{
        letter-spacing: 12px;
    }
    .img-fluid{
        width: 70%;
        height: 30%;
    }

}

footer{
    padding-top: 20px;
    background-color: black;
    height: auto;
    padding-bottom: 10px;
}
.footer_img{
    width: 200px;
    height: 150px;
}

.icons a{
    font-size: 25px;
    padding: 0 15px;
    color: white;
    text-decoration: none;
}

.copyright{
    font-size: 12px;
}
.sel_Error{
    display: none;
    font-size: 15px;
    color: red;
}

.edit_pic{
    border-radius: 50%;
}